<carousel>
  <slide>
    <img src="assets/images/benz.jpg" alt="First slide" style="display: block; width: 1200px;height: 500px;">
    <div class="carousel-caption d-none d-md-block">
      <h3></h3>
      <p></p>
    </div>
  </slide>
  <slide>
    <img src="assets/images/scania.jpg" alt="Second slide" style="display: block; width: 1200px;height: 500px;">
    <div class="carousel-caption d-none d-md-block">
      <h3></h3>
      <p></p>
    </div>
  </slide>
  <slide>
    <img src="assets/images/volvo.jpg" alt="Third slide" style="display: block; width: 1200px;height: 500px;">
    <div class="carousel-caption d-none d-md-block">
      <h3></h3>
      <p></p>
    </div>
  </slide>
</carousel>


<div class="container-fluid"style="background-color:grey" >
    <h4 class="text-center"> Travel with Us</h4>
    <div class="col-md-12">
      <div class="row">
          <div class="col-md-4" style="background-color:blueviolet">
            
  <div class="form-group">
    <label for="source">Source</label>
    <input type="text" class="form-control"   placeholder="Enter Source" [(ngModel)]="source" name="source" #Source="ngModel">
    <div class="alert alert-danger" *ngIf="!source && Source.touched">Required</div>
  </div>
  <div class="form-group">
    <label for="destination">Destination</label>
    <input type="text" class="form-control"  placeholder="Destination" [(ngModel)]="destination" name="destination" #Destination="ngModel">
    <div class="alert alert-danger" *ngIf="!destination && Destination.touched">Required</div>
  </div>
  <div class="form-group">
    <label for="tickets">No of tickets</label>
    <select class="form-control"  placeholder="No of tickets" [(ngModel)]="tickets" name="tickets" #Tickets="ngModel">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
    <div class="alert alert-danger" *ngIf="!tickets && Tickets.touched">Required</div>
  </div>
  <div>
      <label for="traveldate">Travel date</label>
      <input type="text" class="form-control" placeholder="Travel Date" bsDatepicker [minDate]="minDate" [maxDate]="maxDate" [(ngModel)]="datepicker" #Datepicker="ngModel"/>
      <div class="alert alert-danger" *ngIf="!datepicker && Datepicker.touched">Required</div>
    </div>
    <div>
      <h5></h5>
    </div>
  <div>
  <button (click)="searchbus(source,destination,tickets,datepicker)" class="btn btn-primary" [disabled]="!source||!destination ||!tickets||!datepicker">Submit</button>
  </div>
  <h5></h5>
  <h5></h5>

</div>
<div>

</div>

<div class="col-md-4">
  </div>
  <div class="col-md-4" >
    <div *ngIf=!checkvar>
    <h5>Login</h5>
      <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control"   placeholder="Username" [(ngModel)]="username" name="username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control"  placeholder="Password" [(ngModel)]="password" name="password">
        </div>
        <div>
          <button (click)="login(username,password)" class="btn btn-success" >Login</button>
          <button data-toggle="modal" data-target="#signup"class="btn btn-success">Sign Up</button>
        </div>
        </div>
    </div>

    <!-- Register Modal -->

    <div id="signup" class="modal fade">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Register Here</h5>
              </div>
            <div class="modal-body">
              <p>Please provide your details</p>
              <label for="Name">Name:</label>
              <input type="text" class="form-control" [(ngModel)]="name" name="name" #Name="ngModel">
              <div class="alert alert-danger" *ngIf="!name && Name.touched">Required</div>
              <label for="Email">Email:</label>
              <input type="text" class="form-control" [(ngModel)]="email" name="email" #Email="ngModel">
              <div class="alert alert-danger" *ngIf="!email && Email.touched">Required</div>
              <label for="Phone">Phone:</label>
              <input type="number" class="form-control" [(ngModel)]="phone" name="phone" #Phone="ngModel">
              <div class="alert alert-danger" *ngIf="!phone && Phone.touched">Required</div>
              <label for="Username">Username:</label>
              <input type="text" class="form-control"class="form-control" [(ngModel)]="username" name="username" #userName="ngModel">
              <a (click)="checkUsername(username)" *ngIf=username><h6 >Check availability</h6></a>
      
              <div class="alert alert-danger" *ngIf="!username && userName.touched">Required</div>
              <label for="Password">Password:</label>
              <input type="password" class="form-control" [(ngModel)]="password" name="password" #passWord="ngModel">
              <div class="alert alert-danger" *ngIf="!password && passWord.touched">Required</div>
              <label for="PasswordConfirm">Password Confirm:</label>
              <input type="password" class="form-control" [(ngModel)]="passwordconfirm" name="passwordconfirm" #passwordConfirm="ngModel">
              <div class="alert alert-danger" *ngIf="!passwordconfirm && passwordConfirm.touched">Required</div>
              <div class="alert alert-danger" *ngIf="!(passwordconfirm==password) && passwordConfirm.touched">Passwords are not matching</div>
              </div>
              <div class="alert alert-danger" *ngIf="message">{{message}}</div>
            <div class="modal-footer">
              <button (click)="registerUser(name,email,phone,username,password)" class="btn btn-success" [disabled]="!username||!password ||!name||!email||!phone||!passwordconfirm">Register</button>
              <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
      